# Ignore virtual environment directories
venv/
.env/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
.env
*.env
*.ini
*.toml

# Ignore package management files
Pipfile
Pipfile.lock
poetry.lock

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.iml

# Ignore compiled files and logs
*.log
*.sqlite3
db.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS and system files
.DS_Store
Thumbs.db

# Ignore docker-related files
docker-compose.override.yml
